#container{
	display: flex;
	justify-content: space-between;
	algin-item: right;
}
.hero_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
hero section {
padding: 10px;
background-color: navy green;
color: green;
border_radius: 5px;
}